<h5>Participating Artists</h5>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<p>Information regarding participating artists will be available closer to the event, check back soon!</p>
<!-- <ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Ten word or less description of the work</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat sit amet erat sit amet bibendum. Aenean ipsum metus, ullamcorper non justo vitae, lobortis laoreet dui. Vestibulum blandit feugiat purus, in placerat augue luctus quis. Morbi nec lacus libero. Nullam ultricies dictum est vitae bibendum. Quisque hendrerit, ligula a consectetur tincidunt, purus nibh cursus quam, eget pretium tellus nulla ut sem. Proin congue lacus metus, vel faucibus nunc cursus vitae. Ut sagittis erat id odio ornare, imperdiet venenatis tortor posuere. Nullam ut turpis nec eros laoreet vehicula.</p></div>
  </li>
</ul> -->