<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<h3>Downloadable Art</h3>
<p>Downloadable materials will be available closer to the event, check back soon!</p>
<ul>
	<li>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Thing To Download</li>
	<li>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Thing To Download</li>
	<li>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Thing To Download</li>
	<li>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Thing To Download</li>
	<li>Artist Name, <span class="blue-text text-darken-4 artist">Title of Work </span>: Thing To Download</li>
</ul>