  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style type="text/css">
	*{
		font-family: 'Montserrat', sans-serif;
	}
	.main-header{
		text-align: center;
		padding: 0px 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.top-row{
		/*margin-top: 60px;*/
		  background: #3b796f; /* For browsers that do not support gradients */
		  background: -webkit-linear-gradient(left top, #030a09, #54d2ef); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(bottom right, #030a09, #54d2ef); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(bottom right, #030a09, #54d2ef); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to bottom right, #030a09, #54d2ef);
	    min-height: 50px;
	    color: white;
	    margin-bottom: 0px;
	}
	.navigation-row{
		margin: 0px;
		padding-left: 30px;
		padding-top: 15px;
	}
	.a-nav{
		color: white;
		margin-right: 15px;
	}
	.call-col p{
		font-size: 1.2em;
		padding: 5px 15px;
	}
	.call-col{
		padding-top: 25px;
	}
	.call-col a{
		color: #337ab7;
		margin: 0px;
	}
	.call{
		text-align: center;
	}
	.social{
		display: inline-block;
		margin-right: 30px;
	}
</style>

<div class="row top-row">
	<div class="row navigation-row">
		<a href="/remembrance" class="a-nav">Past Events</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">Call For Submissions Form</a>
	</div>
	<div class="row header-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h2 class="main-header">LA Road Concerts - National and Washington</h2>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>
	<div class="row body-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 call-col">
			<p class="call">CALL FOR SUBMISSIONS</p>
			<p>Los Angeles Road Concerts is seeking artists of all kinds to install or perform site-specific works in unused public space within walking distance of the intersection of National and Washington Blvds for the afternoon of November 11, 2017 (Veterans Day). Submissions may be sent through the <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">online form</a> or to <a href="mailto:laroadconcerts@gmail.com">laroadconcerts@gmail.com</a>.</p>
			<p>In five previous events, LA Road Concerts has shown work from over 280 Los Angeles artists in unused public outdoor space. In a “road concert” participating artists display installations, perform works, facilitate carpool happenings, host spontaneous readings, and make music in unexpected spaces, such as on the sidewalk, between dumpsters, along streetlamps, as well as inside the audience’s earbuds as they traverse the path of the road concert. Works can be in one location, many locations, or no location in particular. Participating artists don't need to be physically present and may choose to make downloadable work. Through a wide-ranging open call process, LA Road Concerts brings together art school graduates, working artists, local residents and other artists, writers, musicians, performers, to realize a broad array of kinds of interactions with the sites.</p>
			<p>Projects might respond to the idea of nations (versus our planet), the constitution, and making art in a time of war. Additionally, projects might respond to the site of Culver City and consider the role of art in capitalism. This particular road concert is part of the Untested Address event series, hosted by UMM (the Unconfirmed Makeshift Museum) at Klowden Mann, a Culver City gallery. How could "we the people" and/or the greater art world benefit from bringing everyone together, even those who would never find themselves in Culver City? How do we make value outside the institution, or infiltrate institutions to amplify our voice? What does it mean to make and show art (right) outside commercial mainstream private galleries?</p>
			<p>The preferred deadline for submissions is October 24th, though submissions will be accepted until the week before the event.</p>
			<p>An official map of the day’s events along with project descriptions and other downloadable information will be available to the public a week before the event on the event website (www.laroadconcerts.com). Previous road concert projects can be viewed through the website.</p>
			<p>Please contact us with any proposals, questions, or suggestions at <a href="mailto:laroadconcerts@gmail.com">laroadconcerts@gmail.com</a>. Or feel free to call or text me (Stephen van Dyck) at 505-331-9588 to discuss your potential submission. And please forward this along to anyone who you think would be interested in getting involved.</p>
			<p>Thank you,</p>
			<p>LA Road Concerts / Stephen van Dyck</p>
			<p class="social"><a href="https://twitter.com/laroadconcerts" target="_blank">Twitter</a></p>
			<p class="social"><a href="https://www.facebook.com/laroadconcerts/" target="_blank">Facebook</a></p>
			<p class="social"><a href="https://www.instagram.com/laroadconcerts/" target="_blank">Instagram</a></p>
		</div>
		<div class="col-sm-2">
		</div>
	</div>