<!DOCTYPE html>
<html>
<head>
  <title>Los Angeles Road Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <%= csrf_meta_tags %>
<style>
    html, body, #map{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
	.brand-logo{
		margin-left: 1%;
	}
	.footer-copyright{
		margin-left: 1%;
	}
	.partialcont{
	    height: 585px !important;
	    overflow: scroll;
	}
	.twittcont{
	    height: 585px;
	    overflow: scroll;
	}
	.mapcont{
		margin-top: 1%;
		height: 100%;
		width: 100%;
		padding: 0px;
	}
    #map{
        height: 500px;
    }
    #dropdown1 a{
    	color: #0D47A1;
    }
    #dropdown2 a{
    	color: #0D47A1;
    }
    #dropdown3 a{
    	color: #0D47A1;	
    }
    #mapInteractive{
    	height: 700px;
    }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  footer.page-footer{
  	margin-top: 0px !important;
  }
  .artist{
  	font-style: italic;
  }
  #dropdown3{
  	width: 200px !important;
  }
  #legend {
    background: white;
    padding: 10px;
    margin-left: 10px;
  }
  .iconL{
    height:20px;
    width:20px;
    vertical-align: bottom;
    margin-right: 5px;
  }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<main>
	<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content white">
  <li><a href="/interactive">Interactive Map</a></li>
  <li><a href="/printable">Printable PDF</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content white">
  <li><a href="/call">Call For Submissions</a></li>
  <li><a href="https://goo.gl/forms/JMIEgPPblSIpXxgJ2" target="_blank">Submission Form</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content white">
	<li><a href="http://laroadconcerts.com/sunset.htm">Sunset Boulevard</a></li>
	<li><a href="http://laroadconcerts.com/washington.htm">Washington Boulevard</a></li>
	<li><a href="http://laroadconcerts.com/sanfernando.htm">San Fernando Road</a></li>
	<li><a href="/mulholland">Mulholland Dérive</a></li>
</ul>
<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper blue darken-4">
		<a href="/" class="brand-logo">Los Angeles Road Concerts</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/release">Press Release</a></li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown2">Call For Submissions<i class="material-icons right"></i></a></li>
			<li><a href="/artists">Participating Artists</a></li>
			<li><a href="/download">Downloadable Art</a></li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Program & Map<i class="material-icons right"></i></a></li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown3">Past Events<i class="material-icons right"></i></a></li>
		</ul>
	</div>
</nav>
</div>
<div class="container">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
  function initMap() {
    console.log("init");
    var uluru = {lat: 34.052235, lng: -118.243683};
    var reagan = {lat: 34.0494, lng: -118.2468};
    var cityHall = {lat: 34.0537, lng: -118.2427};
    var indie = {lat: 34.0503, lng: -118.2458};
    var smell = {lat: 34.050335, lng: -118.245668}
    var jalisco = {lat: 34.050393, lng: -118.245587};
    var last = {lat: 34.047763, lng: -118.249515};
    var springPark = {lat: 34.048156, lng: -118.248882};
    var wfATM = {lat: 34.049715, lng: -118.247970};
    var times = {lat: 34.052119, lng: -118.245702};
    var lapd = {lat: 34.051856, lng: -118.244337}
    var transport = {lat: 34.051145, lng: -118.243595};
    var skid = {lat: 34.046394, lng: -118.248342};
    var lofts = {lat: 34.044830, lng: -118.249994};
    var vanNuys = {lat: 34.044545, lng: -118.252618};
    var premiere = {lat: 34.045544, lng: -118.251861};
    var immigration = {lat: 34.044986, lng: -118.251434};
    var springMac = {lat: 34.045527, lng: -118.250917};
    var postal = {lat: 34.046985, lng: -118.249470};
    var claudio = {lat: 34.047239, lng: -118.248287};
    var mapInteractive = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: springPark
    });
    var infowindow = new google.maps.InfoWindow();
    var contentStringReagan = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Ronald Reagan State Building</h6>'+
        // '<div id="bodyContent">'+
        // '<p>Info on specific locations and artists coming soon!</p>'+
        // '</div>'+
        '</div>';
    var contentStringCityHall = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Los Angeles City Hall</h6>'+
        '</div>';
    var contentStringIndie = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Downtown Independent</h6>'+
        '</div>';
    var contentStringSmell = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>The Smell</h6>'+
        '</div>';
    var contentStringJalisco = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>The New Jalisco Bar</h6>'+
        '</div>';
    var contentStringLast = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>The Last Bookstore</h6>'+
        '</div>';
    var contentStringSpringPark = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Spring Street Park</h6>'+
        '</div>';
    var contentStringWfAtm = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Wells Fargo: ATM</h6>'+
        '</div>';
    var contentStringLATimes = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>The LA Times</h6>'+
        '</div>';
    var contentStringLAPD = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Los Angeles Police Department</h6>'+
        '</div>';
    var contentStringTransport = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>California Department of Transportation (Caltrans)</h6>'+
        '</div>';
    var contentStringSkid = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Skid Row Housing Trust Tenant</h6>'+
        '</div>';
    var contentStringLofts = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>PE Lofts</h6>'+
        '</div>';
    var contentStringVanNuys = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Van Nuys Apartments</h6>'+
        '</div>';
    var contentStringPremiere = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Premiere Towers</h6>'+
        '</div>';
    var contentStringImmigration = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Immigration Center For Women and Children</h6>'+
        '</div>';
    var contentStringSpringMac = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Spring Street Mac - iPhone & Mac Repair</h6>'+
        '</div>';
    var contentStringPostal = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>United States Postal Service</h6>'+
        '</div>';
    var contentStringClaudio = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h6>Claudio Ethos Mural</h6>'+
        '</div>';
    var markerReagan = new google.maps.Marker({
      position: reagan,
      map: mapInteractive,
      title: 'Ronald Reagan State Building',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerCityHall = new google.maps.Marker({
      position: cityHall,
      map: mapInteractive,
      title: 'Los Angeles City Hall',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerIndie = new google.maps.Marker({
      position: indie,
      map: mapInteractive,
      title: 'Downtown Independent',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/movies.png'
    });
    var markerSmell = new google.maps.Marker({
      position: smell,
      map: mapInteractive,
      title: 'The Smell',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/arts.png'
    });
    var markerJalisco = new google.maps.Marker({
      position: jalisco,
      map: mapInteractive,
      title: 'The New Jalisco Bar',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/bar.png'
    });
    var markerLast = new google.maps.Marker({
      position: last,
      map: mapInteractive,
      title: 'The Last Bookstore',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerSpringPark = new google.maps.Marker({
      position: springPark,
      map: mapInteractive,
      title: 'Spring Street Park',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/tree.png'
    });
    var markerWfAtm = new google.maps.Marker({
      position: wfATM,
      map: mapInteractive,
      title: 'Wells Fargo: ATM',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/dollar.png'
    });
    var markerLATimes = new google.maps.Marker({
      position: times,
      map: mapInteractive,
      title: 'Los Angeles Times',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/info.png'
    });
    var markerLAPD = new google.maps.Marker({
      position: lapd,
      map: mapInteractive,
      title: 'Los Angeles Police Department',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/police.png'
    });
    var markerTransport = new google.maps.Marker({
      position: transport,
      map: mapInteractive,
      title: 'California Department of Transportation (Caltrans)',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/bus.png'
    });
    var markerSkid = new google.maps.Marker({
      position: skid,
      map: mapInteractive,
      title: 'Skid Row Housing Trust Tenant',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerLofts = new google.maps.Marker({
      position: lofts,
      map: mapInteractive,
      title: 'PE Lofts',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerVanNuys = new google.maps.Marker({
      position: vanNuys,
      map: mapInteractive,
      title: 'Van Nuys Apartments',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerPremiere = new google.maps.Marker({
      position: premiere,
      map: mapInteractive,
      title: 'Premiere Towers',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
    });
    var markerImmigration = new google.maps.Marker({
      position: immigration,
      map: mapInteractive,
      title: 'Immigration Center For Women and Children',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/woman.png'
    });
    var markerSpringMac = new google.maps.Marker({
      position: springMac,
      map: mapInteractive,
      title: 'Spring Street Mac - iPhone & Mac Repair',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/electronics.png'
    });
    var markerPostal = new google.maps.Marker({
      position: postal,
      map: mapInteractive,
      title: 'United States Postal Service',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/postoffice-us.png'
    });
    var markerClaudio = new google.maps.Marker({
      position: claudio,
      map: mapInteractive,
      title: 'Claudio Ethos Mural',
      icon: 'https://maps.gstatic.com/mapfiles/ms2/micons/arts.png'
    });
    markerReagan.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringReagan);
    infowindow.open(mapInteractive, markerReagan);
    });
    $('#reaganL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringReagan);
    infowindow.open(mapInteractive, markerReagan);
    });
    markerCityHall.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringCityHall);
    infowindow.open(mapInteractive, markerCityHall);
    });
    $('#cityhallL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringCityHall);
    infowindow.open(mapInteractive, markerCityHall);
    });
    markerIndie.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringIndie);
    infowindow.open(mapInteractive, markerIndie);
    });
    $('#indieL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringIndie);
    infowindow.open(mapInteractive, markerIndie);
    });
    markerSmell.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringSmell);
    infowindow.open(mapInteractive, markerSmell);
    });
    $('#smellL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringSmell);
    infowindow.open(mapInteractive, markerSmell);
    });
    markerJalisco.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringJalisco);
    infowindow.open(mapInteractive, markerJalisco);
    });
    $('#jaliscoL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringJalisco);
    infowindow.open(mapInteractive, markerJalisco);
    });
    markerLast.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringLast);
    infowindow.open(mapInteractive, markerLast);
    });
    $('#lastL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringLast);
    infowindow.open(mapInteractive, markerLast);
    });
    markerSpringPark.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringSpringPark);
    infowindow.open(mapInteractive, markerSpringPark);
    });
    $('#springL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringSpringPark);
    infowindow.open(mapInteractive, markerSpringPark);
    });
    markerWfAtm.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringWfAtm);
    infowindow.open(mapInteractive, markerWfAtm);
    });
    $('#wfATML').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringWfAtm);
    infowindow.open(mapInteractive, markerWfAtm);
    });
    markerLATimes.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringLATimes);
    infowindow.open(mapInteractive, markerLATimes);
    });
    $('#latL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringLATimes);
    infowindow.open(mapInteractive, markerLATimes);
    });
    markerLAPD.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringLAPD);
    infowindow.open(mapInteractive, markerLAPD);
    });
    $('#lapdL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringLAPD);
    infowindow.open(mapInteractive, markerLAPD);
    });
    markerTransport.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringTransport);
    infowindow.open(mapInteractive, markerTransport);
    });
    $('#transL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringTransport);
    infowindow.open(mapInteractive, markerTransport);
    });
    markerSkid.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringSkid);
    infowindow.open(mapInteractive, markerSkid);
    });
    $('#skidL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringSkid);
    infowindow.open(mapInteractive, markerSkid);
    });
    markerLofts.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringLofts);
    infowindow.open(mapInteractive, markerLofts);
    });
    $('#loftL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringLofts);
    infowindow.open(mapInteractive, markerLofts);
    });
    markerVanNuys.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringVanNuys);
    infowindow.open(mapInteractive, markerVanNuys);
    });
    $('#vanL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringVanNuys);
    infowindow.open(mapInteractive, markerVanNuys);
    });
    markerPremiere.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringPremiere);
    infowindow.open(mapInteractive, markerPremiere);
    });
    $('#premL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringPremiere);
    infowindow.open(mapInteractive, markerPremiere);
    });
    markerImmigration.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringImmigration);
    infowindow.open(mapInteractive, markerImmigration);
    });
    $('#imL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringImmigration);
    infowindow.open(mapInteractive, markerImmigration);
    });
    markerSpringMac.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringSpringMac);
    infowindow.open(mapInteractive, markerSpringMac);
    });
    $('#macL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringSpringMac);
    infowindow.open(mapInteractive, markerSpringMac);
    });
    markerPostal.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringPostal);
    infowindow.open(mapInteractive, markerPostal);
    });
    $('#postalL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringPostal);
    infowindow.open(mapInteractive, markerPostal);
    });
    markerClaudio.addListener('click', function(){
    infowindow.close()
    infowindow.setContent(contentStringClaudio);
    infowindow.open(mapInteractive, markerClaudio);
    });
    $('#claudioL').click(function(){
    infowindow.close();
    infowindow.setContent(contentStringClaudio);
    infowindow.open(mapInteractive, markerClaudio);
    });
    google.maps.event.addListener(mapInteractive, "click", function(event){
    infowindow.close();
    });
    $('#headerL').click(function(){
      infowindow.close();
    })
            var flightPlanCoordinates = [
          {lat: 34.041575, lng: -118.254957},
          {lat: 34.052936, lng: -118.244461},
          {lat: 34.052249, lng: -118.243385},
          {lat: 34.044277, lng: -118.250630},
          {lat: 34.041575, lng: -118.254957}
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(mapInteractive);
      var styles = {
        default: null,
        hide: [
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          }
        ]
      };
    mapInteractive.setOptions({styles: styles['hide']});
    mapInteractive.controls[google.maps.ControlPosition.LEFT_TOP].push(document.getElementById('legend'));
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA0BAI1oQ69S-OIl5RBdEMNIlcxw7dOaY&callback=initMap">
</script>
<div class="row">
	<div class="col s12 mapcont">
		<div id="map">
		</div>
	</div>
</div>
<div class="row">
	<div class="col s8 partialcont">
<%= yield %>
	</div>
<div class="col s4 twittcont">
	            <a class="twitter-timeline" href="https://twitter.com/LARoadConcerts">Tweets by LARoadConcerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      
</div>
</div>
<div id="legend">
  <h6 id="headerL">Suggested Performance Locations and Route</h6>
  <ul>
    <li id="lapdL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/police.png">Los Angeles Police Department</li>
    <li id="postalL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/postoffice-us.png">United States Postal Service</li>
    <li id="reaganL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">Ronald Reagan State Building</li>
    <li id="cityhallL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">Los Angeles City Hall</li>
    <li id="indieL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/movies.png">Downtown Independent</li>
    <li id="premL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">Premiere Towers</li>
    <li id="transL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/bus.png">California Department of Transportation</li>
    <li id="vanL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">Van Nuys Appartments</li>
    <li id="jaliscoL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/bar.png">The New Jalisco Bar</li>
    <li id="lastL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">The Last Bookstore</li>
    <li id="springL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/tree.png">Spring Street Park</li>
    <li id="wfATML"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/dollar.png">Wells Fargo: ATM</li>
    <li id="loftL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">PE Lofts</li>
    <li id="latL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/info.png">The LA Times</li>
    <li id="smellL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/arts.png">The Smell</li>
    <li id="skidL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png">Skid Row Housing Trust Tenant</li>
    <li id="imL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/woman.png">Immigration Center For Women and Children</li>
    <li id="macL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/electronics.png">Spring Street Mac - iPhone & Mac Repair</li>
    <li id="claudioL"><img class="iconL" src="https://maps.gstatic.com/mapfiles/ms2/micons/arts.png">Claudio Ethos Mural</li>
  </ul>
</div>
</main>
<footer class="page-footer blue darken-4">
	<div class="footer-copyright">
	</div>
</footer>
</body>
</html>